<span class='b'>Last register:</span> <%= @zombie_last %><br />
<span class='b'>Total Accounts:</span> <%= @zombie_count %><br />
<span class='b'>Last Tweet: </span>
<% if(@tweet_count != 0) %>
<%= @tweet_last %><br />
<%else%>
<i>none</i><br />
<%end%>
<span class='b'>Total Tweet:</span> <%= @tweet_count %><br />
<%= render 'tweets/test'%>

