<%= form_for(@tweet) do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% @tweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tweet %><br />
    <%= f.text_area :tweet %>
  </div>
  <div class="field">
    <%= f.label :zombie_id %><br />
	<select name='tweet[zombie_id]' id="tweet_zombie_id">
	<%@zombie.each do |z|%>
	<option value=<%= z.id%>><%=z.username%></option>
	<%end%>
	</select>
<!--    <%= f.number_field :zombie_id %>-->
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
