
<div class='box left m-color' style="width:300px;text-shadow: -1px -1px 1px rgba(0,0,0,0.8),1px 1px 1px white; ">
	<span class='b center'style='font-size:30px;'>Last Tweet</span><br /><span style="text-shadow:none;"><%=@t.tweet%> <br /><span class='right'>by <%= link_to @z.username, @z, :class=>"link_home"%></span></span>
</div>