<h1>Listing zombies</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Password</th>
    <th>Created</th>
    <th></th>
	 <th></th>
    <th></th>
  </tr>

<% @zombies.each do |zombie| %>
  <tr>
    <td><%= zombie.username %></td>
    <td><%= zombie.password %></td>
	<td><%=l zombie.created_at %></td>
    <td><%= link_to 'Show', zombie %></td>
    <td><%= link_to 'Edit', edit_zombie_path(zombie) %></td>
    <td><%= link_to 'Destroy', zombie, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Zombie', new_zombie_path %>

