<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @zombie.username %>
</p>

<p>
  <b>Password:</b>
  <%= @zombie.password %>
</p>
<b>List of tweets from this user</b><br />
<%@tweet.each do |t|%>
<div class='box'>
<i><%=l t.created_at%></i>
<br />
<%=t.tweet%> 
</div>
<%end%>
<%if (@tweet.size == 0)%>
None yet<br />
<%end%>
<%= link_to 'Edit', edit_zombie_path(@zombie) %> |
<%= link_to 'Back', zombies_path %>
