/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require home
 *= require stat
 *= require tweets
 *= require zombies  
*/
.white{color:white;}
.black{color:black;}
.grey{color:grey;}
.center{text-align:center;display:block;margin:0 auto;}
.b{font-weight:bold;}
a{text-decoration:none;color:white;}
.m-color{color:#3A7EEC;}
.left{float:left;}
.right{float:right;}
.transition{-moz-transition:all .5s ease-in-out .1s;}
.box{
  	border-color: rgba(0, 0, 0, 0.8);
  	border-radius: 5px 5px 5px 5px;
  	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  	margin: 15px;
  	padding: 10px 15px;
  	width: auto;
	background:white;
}
.box i{font-size:14px}
.clear{clear:both}