// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$back-color:#2E68BF;
$text-color:#3A7EEC;


#bartop{
	background:$back-color;
	padding:15px 20px;
	letter-spacing:2px;
	font-size:25px;
	box-shadow:inset 2px 2px 2px rgba(0,0,0,.8);
	border-radius:10px;
	text-shadow: 0 0 5px black, 2px 2px 2px rgba(0,0,0,.8);
	}
a.top_menu:hover{
	-moz-transform:translate(2px,2px);
	-webkit-transform:translate(2px,2px);
	text-shadow:-1px -1px 10px yellow, 0 0 10px yellow, 1px 1px 10px yellow;
	color:yellow

}
.pipe{text-shadow:2px 2px 2px rgba(0,0,0,0.8);}
.active{-moz-transform:translate(2px,2px);
-webkit-transform:translate(2px,2px);
text-shadow:-1px -1px 10px yellow, 0 0 10px yellow, 1px 1px 10px yellow;
color:yellow;
}
.link_home{color:$text-color}