<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style='background:#3A7EEC;' class='<%=controller_name%>'>
	<div id="bartop">
	<%= link_to "List of Zombies", zombies_path, :class=>'m-color transition top_menu', :id =>'zombies'%> <span class='pipe'>|</span> 
	<%= link_to "List of Tweets", tweets_path, :class=>'m-color transition top_menu', :id =>'tweets' %> <span class='pipe'>|</span> 
	<%= link_to "Statistics", {:controller=>"stat"}, :class=>'m-color transition top_menu', :id =>'stat'%>
	 <%= link_to 'Sign in', new_zombie_path, :class=>"right"%>
	
	</div>
<%= yield %>
<div class='clear'></div>
<%if controller_name != 'home'%>
	<%= render 'tweets/test' %>
	<%end%>
</body>
</html>
